    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Jura:wght@700&display=swap&family=Pangolin&display=swap');

    a {
        text-decoration: none;
    }

    .parent a {
        color: #000;
        font-size: 14px;
    }

    .main {
        background-image: url(../img/footer.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
    }

    nav {
        border-bottom: 2px solid rgb(168, 157, 0);
    }

    .navbar {
        background-color: rgb(37, 0, 0) !important;
    }

    .navbar-nav a {
        color: rgb(168, 157, 0) !important;
        text-transform: uppercase;
    }

    .navbar-nav a:hover {
        color: #fff !important;
        border-bottom: 1px solid #fff;
    }

    .logo {
        background: url(../img/Logo.jpg) top center no-repeat;
        height: 450px;
    }

    a.active {
        color: rgb(218, 160, 0) !important;
        border-bottom: 1px solid rgb(218, 160, 0);
        font-weight: bold;
    }

    .parent {
        padding: 5px;
        background-color: rgba(189, 145, 0, 0.6);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .parent a {
        color: rgb(37, 0, 0);
        padding-left: 5px;
        padding-right: 5px;
    }

    .parent a:hover {
        font-weight: bold;
    }

    .main-content {
        max-width: 80%;
        margin: 0 auto;
    }

    .navbar-nav {
        margin-left: 50px;
    }

    .info-adit {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        background-color: rgb(37, 0, 0);
        background-repeat: no-repeat;
        background-position: center;
        height: 60px;
        margin-bottom: 20px;
        background-size: 1400px 80px;
        padding-left: 10px;
        padding-right: 10px;
        border-top: 2px solid rgb(168, 157, 0);
        border-bottom: 2px solid rgb(168, 157, 0);
    }

    .info-adit a {
        text-transform: uppercase;
        color: rgb(168, 157, 0);
        font-size: 15px;
        padding: 10px 15px 5px 15px;
        /*border: 1px solid rgb(255, 0, 212);*/
        font-weight: 500;
    }

    .info-adit a:hover {
        border-bottom: 1px solid rgb(255, 255, 255);
        color: #fff;
    }


    /*----кнопки начать и регистрация----*/
    .play-reg {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .start-play,
    .reg-play {
        background-image: url(../img/streg.png);
        background-position: 0 -10px;
        width: 220px;
        height: 50px;
        display: block;
        margin-top: 60%;
    }

    .start-play a {
        padding: 10px;

    }

    .reg-play {
        background-position: -225px -10px;
    }

    body {
        font-family: 'Pangolin', cursive;
    }

    .main-h {
        /*font-family: 'Caveat', cursive;*/
        /*font-family: 'Jura', sans-serif;*/
        font-size: 30px;
        color: rgb(53, 0, 0);
        text-align: center;
        padding: 0 15px 15px 15px;
    }

    .info-table {
        margin: 0 auto;
        width: 90%;
        margin-top: 20px;
        background-image: url(../img/tabl.jpg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }

    .pages {
        text-align: center;
        padding-bottom: 40px;
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .back-table {
        background-image: url(../img/back.png);
        padding-top: 30px;
        padding-bottom: 30px;
        background-repeat: no-repeat;
    }

    table {
        border-radius: 20px;
    }

    table td:nth-child(2),
    table th:nth-child(2) {
        width: 20%;
    }

    table td:nth-child(3),
    table th:nth-child(3) {
        text-align: center;
    }

    td {
        vertical-align: middle;
    }

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
        background-color: #fff;
        margin-right: -30px;
        display: block;
    }

    .par {
        background-image: url(../img/icons.png);
        background-position: -240px -160px;
    }

    .pet {
        background-image: url(../img/icons9.png);
        background-position: -160px -280px;
    }

    .dr {
        background-image: url(../img/icons2.png);
        background-position: -320px -360px;
    }

    .ring {
        background-image: url(../img/icons3.png);
        background-position: 0 0;
    }

    .ring2 {
        background-image: url(../img/icons4.png);
        background-position: -240px -320px;
    }

    .ring2-2 {
        background-image: url(../img/icons4.png);
        background-position: -280px -320px;
    }

    .mask {
        background-image: url(../img/icons5.png);
        background-position: -360px -440px;
    }

    .staff {
        background-image: url(../img/icons6.png);
        background-position: -240px 0;
    }

    .sword {
        background-image: url(../img/icons7.png);
        background-position: -240px 0;
    }

    .belt {
        background-image: url(../img/icons8.png);
        background-position: -120px -400px;
    }

    .icon-cl1 {
        background-image: url(../img/iconclass.png);
        background-position: -130px -234px;
        width: 26px;
        height: 26px;
        margin-left: 13px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }

    .icon-cl2 {
        background-image: url(../img/iconclass.png);
        background-position: -78px -234px;
        width: 26px;
        height: 26px;
        margin-left: 13px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }

    .wom {
        background-image: url(../img/wom.gif);
        width: 25px;
        height: 25px;
        display: inline-block;
    }

    .men {
        background-image: url(../img/men.gif);
        width: 25px;
        height: 25px;
        display: inline-block;
    }

    a {
        color: rgb(37, 0, 0);
    }

    .name_pr:hover {
        color: rgb(37, 0, 0);
    }

    .nav_a {
        margin-top: 15px;
        margin-bottom: 10px;
        border: 1px solid red;
    }
    .plreg-xl:hover {
        transform: scale(1.1);
    }
    .start-play2,
    .reg-play2 {
        background-image: url(../img/streg.png);
        background-position: 0 -10px;
        background-size: 350px;
        width: 175px;
        height: 35px;
        display: block;
    }

    .start-play2 a {
        padding: 10px;
    }

    .reg-play2 {
        background-position: -175px -10px;
    }

    .navbar-nav a {
        text-align: center;
    }

    .plreg-md {
        display: none;
    }

    button {
        color: rgb(48, 0, 0) !important;
        background-color: rgb(134, 4, 0) !important;
    }


    /*ВСПЛЫВАЮЩЕЕ ОКНО*/
    .descr {
        display: none;
        margin-left: 100px;
        padding: 10px;
        background: #0a0000d7;
        color: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6);
        width: 400px;
    }

    #box1:target {
        display: block;
        position: absolute;
        z-index: 999;
    }

    .poster:hover .descr {
        display: block;
        position: absolute;
        margin-top: -200px;
        z-index: 9999;


    }

    /* .descr {
display: none;
margin-left: 100px;
padding: 10px;
background: #0a0000d7;
color: rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6);

}

.poster:hover .descr {
display: block;
position: absolute;
margin-top: -200px;
z-index: 9999;
width: 400px;

}

/* .descr {
position: fixed;
top: 10%;
left: 30%;
background: #0a0000d7;
z-index: 99999;
display: none;
width: 30%;
padding: 10px;
background: #0a0000d7;
color: rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6);
}
.descr:target {
display: block;

}
.poster:hover .descr {
display: block;
margin-top: 100px;
}
*/

    .card-flex-box {
        display: flex;
        justify-content: space-between;
    }

    .card-flex-box-mini {
        min-width: 50px;
    }

    .descr {
        line-height: 1;
    }

    table tr {
        border-bottom: 1px solid #000;
    }

    .pages a:hover {
        color: rgb(126, 75, 0);
    }

    .two {
        flex-grow: 1;
    }

    .card-red {
        color: rgb(238, 127, 0);
    }

    .card-yell {
        color: rgb(247, 252, 0);
    }

    .card-green {
        color: rgb(0, 252, 21);
    }



    /*-------------FOOTER------------------*/
    footer {
        min-height: 200px;
        background-color: rgb(37, 0, 0);
        padding: 20px;
        border-top: 4px solid rgb(168, 157, 0);
    }

    .nav-footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-footer a {
        color: rgb(168, 157, 0);
        padding: 3px 20px 3px 20px;
        border-right: 1px solid rgb(168, 157, 0);
    }

    .nav-footer a:last-child {
        border-right: none;
    }

    .nav-footer a:hover,
    .language a:hover {
        color: #fff;
    }

    .language {
        margin: 0 auto;
        color: rgb(168, 157, 0);
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .language a {
        color: rgb(168, 157, 0);
    }

    .lan-box {
        margin: 5px;
    }

    .logo-footer {
        margin: 0 auto;
    }

    .logo-footer img {
        display: block;
        width: 25%;
        margin: 0 auto;
    }

    .container .row a {
        color: #fff;
    }

    .rus,
    .eng {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
        background-image: url(../img/lan.png);
    }

    .rus:hover,
    .eng:hover {
        transform: scale(1.2);
    }

    .rus {
        background-size: 55px;
    }

    .eng {
        background-size: 60px;
        background-position: 31px 30px;
    }

    .info-adit a:first-child:hover,
    .info-adit a:last-child:hover {
        border-bottom: none;
    }

    .back a{
        color:rgba(65, 65, 65, 0.425);
    }
    .back a:hover{
        color:rgba(65, 65, 65, 0.425);
        cursor:default;
    }

    /*-------СОЦ. СЕТИ--------------*/
    .social {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .social div {
        width: 39px;
        height: 39px;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        background-image: url(../img/social2.png);
        background-size: 210px;
        margin: 5px;
    }

    .vk {
        background-position: 39px -50px;
    }

    .vk:hover {
        background-position: 39px -143px;
        cursor: pointer;
    }

    .yout {
        background-position: 82px -4px;
    }

    .yout:hover {
        background-position: 82px -96px;
        cursor: pointer;
    }

    .twi {
        background-position: -42px -4px;
    }

    .twi:hover {
        background-position: -42px -96px;
        cursor: pointer;
    }



    @media all and (max-width: 1000px) {
        .back-table {
            background-size: 100%;
        }

        .main-content {
            max-width: 100% !important;
        }

        .plreg-md {
            display: block !important;
        }

        .plreg-xl {
            display: none !important;
        }

        .navbar-nav {
            text-align: center !important;
            margin-left: 0 !important;
        }
    }

    @media all and (max-width: 800px) {
        .parent {
            justify-content: center;
        }

        .parent a:nth-child(1),
        .parent a:nth-child(2),
        .parent a:nth-child(3),
        .parent a:nth-child(4) {
            border-bottom: 1px solid rgba(160, 149, 0, 0.733);
        }

        .parent a {
            width: calc((100% - 40px)/4);
        }

        .info-adit {
            background-size: 500px 80px;
            justify-content: space-evenly;
        }

        .main-h {
            font-size: 22px !important;
        }

        .icon {
            margin-right: 0px !important;
        }

        .navbar-nav {
            text-align: center !important;
            margin-left: 0 !important;
        }

        .nav-footer a {
            font-size: 15px;
            border-right: none;
            min-width: 20%;
            text-align: center;
        }

        .nav-footer a:last-child {
            border-bottom: none;
        }

        .logo-footer img {
            width: 40% !important;

        }

        .language a {
            font-size: 15px;
        }

        .pages {
            font-size: 15px;
        }

    }

    @media all and (max-width: 600px) {
        .info-adit {
            background-size: 400px 80px;
        }

        .pages {
            font-size: 13px !important;
        }

    }
